# Database
DATABASE_URL="postgresql://user:password@postgres:5432/bubber"

# GraphQL API
PORT=4000
NODE_ENV=development

# Microservices gRPC
MOTORISTAS_SERVICE_HOST=service-motoristas
MOTORISTAS_SERVICE_PORT=50051

ROTEAMENTO_SERVICE_HOST=service-roteamento
ROTEAMENTO_SERVICE_PORT=50052
